{# A single blog post #}
{% extends "page.html" %}


{% block content %}
{% set section = get_section(path=page.ancestors | last) %}

<h1 class="title">
  {{ page.title }}
</h1>

{# The date, section, and tags of the post #}
<div class="subtitle">
  Published on {{ page.date | date(format = "%B %d, %Y") }}
  in
  <a href="{{ section.permalink }}">{{ section.title }}</a>
  {% if page.taxonomies.tags %}
  (tags
  {% for tag in page.taxonomies.tags %}
  <a href="/tags/{{ tag }}">{{ tag }}</a>{% endfor %})
  {#
  The endfor and close paren are on the previous line to prevent
  whitespace between the final tag and close paren.
  #}
  {% endif %}
</div>

{{ page.content | safe }}

{# Links to the next and previous posts #}
<nav role="navigation">
  <ul>
    {% if page.higher %}
    <li>
      Next Post:
      <a href="{{ page.higher.permalink }}" aria-label="Next Post">{{ page.higher.title }}</a>
    </li>
    {% endif %}
    {% if page.lower %}
    <li>
      Previous Post:
      <a href="{{ page.lower.permalink }}" aria-label="Previous Post">{{ page.lower.title }}</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}
