<footer>
  <ul>
    <li><a href="https://github.com/gridbugs">github</a></li>
    <li><a href="https://gridbugs.itch.io">itch.io</a></li>
    <li><a href="https://hachyderm.io/@gridbugs">mastodon</a></li>
  </ul>
  <ul>
    <li><a href="{{ config.base_url }}/atom.xml">atom</a></li>
    <li><a href="{{ config.base_url }}/rss.xml">rss</a></li>
  </ul>
  <ul>
    <li>
      Built with <a href="https://www.getzola.org/">Zola</a>.
    </li>
    <li>
      © 2015-{{ now() | date(format="%Y") }} Stephen Sherratt.
    </li>
  </ul>
</footer>
