<header>
  <div class="header-nav-container">
    <nav role="navigation">
      <ul>
	<li class="lhs">
	  <a href="{{ config.base_url }}">{{ config.title }}</a>
	</li>
	{% if page %}
	{% set section = get_section(path=page.ancestors | last) %}
	{% if section.title != "gridbugs" %}
	<li class="lhs">
	  <a href="{{ section.permalink }}">{{ section.title }}</a>
	</li>
	{% endif %}
	{% endif %}
	<li class="first-rhs rhs"><a href="{{ config.base_url }}/about">About</a></li>
	<li><a href="{{ config.base_url }}/tags">Tags</a></li>
      </ul>
    </nav>
  </div>
</header>
