<header>
  <nav role="navigation">
    <ul>
      <li>
	<a href="{{ config.base_url }}">{{ config.title }}</a>
      </li>
      {% if page %}
      {% set section = get_section(path=page.ancestors | last) %}
      {% if section.title != "gridbugs" %}
      <li>
	<a href="{{ section.permalink }}">{{ section.title }}</a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
    <ul>
      <li><a href="{{ config.base_url }}/about">about</a></li>
      <li><a href="{{ config.base_url }}/tags">tags</a></li>
    </ul>
  </nav>
</header>
