{#
Links to the next and previous posts, reversed. Typically blog posts
are displayed with newest posts first, and the navigation links are
displayed chronologically forward from left to right. That is, if you
started reading at an old post, you could keep clicking the right-most
navigation link to move forwards through time. Sometimes it is
desirable to display posts with the oldest first, such as the pages of
a tutorial. However navigation links should still proceed forwards in
time from left to right. This template is for navigation links that
assume that the order of posts is reverse-chronological.
#}
<nav role="navigation">
  <ul>
    <li>
      {% if page.lower %}
      <a href="{{ page.lower.permalink }}" aria-label="Previous">
	Previous: {{ page.lower.title }}
      </a>
      {% else %}
      Previous: (none)
      {% endif %}
    </li>
    <li>
      {% set section = get_section(path=page.ancestors | last) %}
      <a href="{{ section.permalink }}" aria-label="Index">
	Index: {{ section.title }}
      </a>
    </li>
    <li>
      {% if page.higher %}
      <a href="{{ page.higher.permalink }}" aria-label="Next">
	Next: {{ page.higher.title }}
      </a>
      {% else %}
      Next: (none)
      {% endif %}
    </li>
  </ul>
</nav>
